body {
    background-color: ghostwhite;
}

#page {
    display: block;
    margin: auto;
    max-width: 70%;
}

textarea {
    resize: vertical;
}

.form-control[readonly] {
    background-color: white;
}